.main { 
    background-color: gray; 
} 
 
h1, h2, h3 { 
    text-align: center; 
} 
 
.ia { 
    font-size: 70px; 
    margin-left: 60px; 
    margin-top: 50px; 
} 
 
.home { 
    font-size: 50px; 
} 
 
.nachalo { 
    display: flex; 
    font-size: 40px; 
    margin-left: 60px; 
    align-items: center; 
} 
 
.ya { 
    margin-left: 400px; 
    width: 400px; 
    height: 500px; 
} 
 
nav ul { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    text-align: center; 
    font-size: 40px; 
    font-family: sans-serif; 
} 
 
nav ul li { 
    display: inline; 
    margin-right: 20px; 
} 
 
nav ul li a { 
    color: #fff; 
    text-decoration: none; 
    padding: 16px 32px; 
    border-radius: 15px; 
} 
 
.aboutme { 
    font-size: 50px; 
} 
 
.aboutmeme {  
    font-size: 30px; 
} 
 
.phota { 
    width: 300px; 
    height: auto; 
    margin-top: 20px; 
} 
 
.myskills { 
    font-size: 50px; 
} 
 
.myskillss { 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    margin-left: 20px; 
} 
 
.projects { 
    font-size: 50px; 
} 
 
.ez, .calc, .stem { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin: 20px 0; 
} 
 
.futurevision, .calculator, .telegrambot { 
    width: 150px; 
    margin-right: 20px; 
} 
 
.articss { 
    font-size: 40px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    text-align: center; 
} 
 
.artics a { 
    display: block; 
    margin: 10px auto; 
    text-align: center; 
    text-decoration: red; 
} 
 
.artics img { 
    display: block; 
    margin: 10px auto; 
} 
 
.krug { 
   
        width: 100px; 
        height: 100px; 
  
        background-size: cover;  
        background-position: center;  
        border-radius: 50%; 
        margin: 20px auto; 
    } 
 
.menu { 
    display: flex; 
    justify-content: center; 
} 
 
.logo { 
    font-size: 30px; 
    text-decoration: none; 
    margin: 0 30px; 
    font-weight: 600; 
} 
 
.link { 
    font-size: 30px; 
    text-decoration: none; 
    margin: 0 30px; 
    color: #C5FF95; 
} 
 
nav { 
    border: 1px solid #C5FF95; 
    margin: 20px 50px; 
    border-radius: 50px; 
    width: calc(100% - 100px); 
    color: #C5FF95; 
    background-color: BLACK; 
    display: flex; 
    align-items: center; 
    height: 60px; 
} 
 
.right { 
    position: absolute; 
    right: 80px; 
} 
 
.btn { 
    padding: 10px 30px; 
    background-color: gray; 
    border-radius: 30px; 
    color: black; 
} 
 
 
.ez, .calc, .stem { 
    text-align: center; 
} 
 
.projects { 
    text-align: center; 
} 
 
.projects img { 
    width: 150px;  
    height: auto; 
    margin-top: 20px; 
} 
.medium { 
    width: 250px; 
    height: 150px; 
} 
.Kruggg{ 
    width: 100px; 
    height: 100px;   
    background-size: cover;  
    background-position: center;  
    border-radius: 50%; 
    margin: 20px auto; 
} 
.coss{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-position: center; 
    height: 300px; 
    width: 100%; 
    background-color: BLACK; 
} 
.cos{ 
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    background-color: #fff;  
    margin: 200px;  
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
    background-position: center; 
}